
.h{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    align-items: center;
    text-shadow: 5px 5px  rgb(226, 219, 229);
    box-shadow: 5px 5px 5px 5px black;
    width: 500px;
    margin: 200px auto;
    height: 70px;
}
:hover.h{
    color: rgba(53, 2, 56, 0.696);  
}