 /* import 'bootstrap/dist/css/bootstrap.min.css'; */

.signup{
     /* display:flex;  
    align-items: center;
 flex-direction: column;
    text-align: center;  */
    margin: auto;
    border: 2px solid white;
    border-radius: 20px ;
    width: 400px;
    height:630px;
    /* justify-content: center; */
    box-shadow:5px 5px 5px 5px black;
    margin-top:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    display: flex;
    flex-direction:column;
}
.form{
     display:flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.input{
    width:300px;
    height:40px;
    border-radius:10px;
    border: 2px solid white;
    font-size: 15px;
}
.butn{
    text-align: center;
    height: 40px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 2px solid white ;
    border-radius: 10px ;
    margin-top: 20px;
    background-color: rgb(184, 163, 184);
   
}
.butn:hover{
    background-color: rgb(85, 27, 88);
    color: white;
}
.alertMess{
    font-size: 15PX;
    color:rgb(238, 13, 13);
    text-align: left;
    width:300px;
    margin: 0px;
    padding: 0px; 
}
.loginLink{
    text-decoration: none;
    color: rgb(146, 27, 27);
}
.login-pass-icon{
    position: absolute;
    z-index: 1;
    /* left: 3rem;
    top: 3rem; */
    margin-top: 0.5rem;
    margin-left: 16rem;
    width: 25px;
    height: 25px;
}
.err{
    margin-top: 0px;
    padding: 0px;
    height: 4px;
}