.data {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
    width: 1000px;
    height: 210px;
    margin: auto;
    box-shadow: 5px 5px 5px 5px black;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fields {
    margin: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    /* width: 1100px; */
    /* justify-content: space-between; */
    flex-direction: row;
    gap:30px;
}
.errors{
    /* margin-left: 90px; */
    display: flex;
    width: 1000px;
    flex-direction: row;    
    justify-content:space-around;
    /* gap:100px; */
}

.buttons {
    /* margin-bottom: 30px; */
    display: flex;
    align-items: center;
    text-align: center;
    /* margin-top: 0px; */
    /* padding: 0px; */
    /* flex-direction:row;  */

    gap: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
