.add {
    align-items: center;
    text-align: center;

}
.butn {
    text-align: center;
    height: 40px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(184, 163, 184);

}
.butn:hover {
    background-color: rgb(85, 27, 88);
    color: white;
    
}