.d{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 50px;
    align-items: center;
    text-align: center;
    gap: 50px;
    height: 500px;
    width: 400px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px 5px black;
}
.info{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin: 0px;
    padding: 0px; */
    /* align-items: center;  */
}
.changeData{
    border-radius: 10px;
    background-color: transparent;
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
.changeData:hover{
    color: white;
    background-color: black;
}
#file{
    align-items:center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(228, 225, 225);  
    padding: 0px ;
    margin: 0px 0px 0px 0px 0px;
    /* background-image:url(../../../public/profile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100px; */
    
}
#fileAdd{
    background-color:transparent;
    border-color: rgb(243, 243, 243);
    /* border-radius: 50% ; */
    margin-top:80px;
    list-style: none;
    margin-left: 45px;
}
.icon{
    display:flex;
    margin-top: 20px;
    margin-left: 18px;
    height:60px;
    width:60px;
}
.Plus{
    /* margin-top:20px;    */
    margin-left: 40px;
    margin-bottom: 60px;
    height:20px;
    width:20px;
}
.profile-image{
    display:flex;
    /* margin-top: 20px; */
    /* margin-left: 18px; */
    height:100px;
    width:100px;
    border-radius: 50%;
}
